.weather-data-card {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap:50px;
    padding: 20px;
    width: 60vw;
    height: auto;
}
.weather-data-card p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.weather-data-card img{
    width: 2rem;
    height: 2rem;
    background-color: black;
    margin-left: 8px;
    border-radius: 50%;

}
@media (max-width: 768px) {
    .weather-data-card {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .weather-data-card img{
        margin-left: 6px ;
    }

}