html,body{
  height: 100vh !important;
  overflow: hidden;
}
body{
  font-family: Arial, sans-serif;
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}